body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    margin-top:40px;
}

#contactlink {
    font-size:2em;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

.spacer {
    margin-top:40px;
}