body {
	font-family: 'IBM Plex Sans', sans-serif;
}

#headlineimage {
    background-image: url(DSC04378.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    min-height:800px;
    padding-left:30px;
    padding-right:30px;
}

@media (max-width: 768px) {
	#headlineimage {
		background-position: center center;
	}

	#patterntext {
		background-color:rgba(50, 50, 50, 0.5);
		border-radius:10px;
	}
}

h1 {
	color: #fff;
}

.standardtext {
	font-size:18px;
	color:#fff;
	line-height:1.5;
	font-weight:300;
	margin-top:30px;
}

.call {
	margin-top:60px;
	font-size:18px;
	color:#fff;
	font-weight:400;
	line-height:1.5;
}

.highlight {
	font-size: 28px;
	color: #fff;
	margin-top:60px;
	font-family: 'IBM Plex Serif', serif;
}

#order {
	margin-bottom:30px;
}

#signup {
	margin-left:-5px;
}

.row {
	margin:0px;
}